@font-face {
    font-family: myFirstFont1; 
    src: url(../../fonts/Avenir-Heavy.ttf);
}
@font-face {
    font-family: myFirstFont2; 
    src: url(../../fonts/Avenir-Light.ttf);
}
@font-face {
    font-family: myFirstFont3; 
    src: url(../../fonts/Avenir-Medium.ttf);
}
body{margin:0;padding:0;}
.homeHeader{
 background: url("../../elements/provided/Free-Education-Header-Image.jpg");
 height: 300px;
 background-repeat: no-repeat;
 background-size: cover;
}
.resize-head-logo {
 width: 50px;
 height: auto;
}
.dropdown-menu{
width:250px; 
color:black;
 background-color:#dedcef;
 font-size:15px;
 margin-right:-150px;
}
.navbar-collapse.in {
    overflow: hidden;
    max-height: none !important;
    height: auto !important;
}
.dropdown-menu li a:hover{
color:green;
background-color:white;
}
.dropdown-menu li a{
 color:#FF4500;
}
.homefont1 {
font-family: myFirstFont1;
font-size: 450%;
color: white;
margin:0;
padding:0;
}
.homefont2 {
font-family: myFirstFont2;
font-size: 250%;
color: white;
margin:0;
padding:0;
}
.font2 {
font-family: myFirstFont2;
font-size: 450%;
color: white;
margin-left:50px;
padding-top:50px;
}

.logoTitle {
font-family: myFirstFont1;
font-size: 170%;
color: white;
padding-left:7px;
}
.icon-bar{
background-color:white;
}
.purple{
background-image: url("../../elements/provided/Free-Education-FB-Purple.jpg");
height: 300px;
background-repeat: no-repeat;
background-size: cover;
}
.peach{
background-image: url("../../elements/extracted/peach-color.png");
height: 700px;
  }
 .footer{
background-image: url("../../elements/extracted/footer-background.png");
height: 400px;	
}
.footer h6{
color:#FF4500;
font-family: myFirstFont2;
font-size:110%;
font-weight: bold;
}
.footer h6 a{
color:#FF4500;
}
.footer h6 a:hover{
color:black;
}

.footer h3{
font-family: myFirstFont3;
color:#A9A9A9;
font-weight:bold;
font-size:150%;
}
.footerrow2{
padding-top:15px;	
}
.copyrightAndTerms{
padding-top:55px;}
.nav{
margin-right:18vmax;
}

#unemploymentBubbles{padding-top:20px;}
#unemploymentBubbles h1{ font-family: myFirstFont2;font-size: 250%;}

#cross-subsidisation-heading{
margin-left:50px;
padding-top:100px;
}
#cross-subsidisation-heading h1{
font-family: myFirstFont2;
font-size: 250%;
color: black;
}
#cross-subsidisation-image{padding-top:100px;}
#developer-salaries{margin-left:50px;padding-top:50px;}
#developer-salaries h1{
font-family: myFirstFont2;
font-size: 250%;
color: black;
}
#dropdown{
background-color:transparent; 
color:white;
}
#dropdown:hover{
background-color:transparent; 
color:white;
}
#paragraph1{
font-size: 25px;
margin-top:25px;
font-family: myFirstFont3;
}
#paragraph2{
color:white;
padding-top:40px;
font-family: myFirstFont3;
font-size: 150%;
}
#heading06{
padding-top:40px;
  }
 #heading06 h1,h4{
color:#FF4500;
font-weight: lighter;
font-family: myFirstFont3;
}
#heading06 h4{
font-size: 150%;
  }
#freeEducationFB{
padding-top:45px;
}
#logo{
padding-left:40px;
}
#chain{
padding-top:50px;
}
#homeheading{
padding-top:40px;
}
#paragraph3{
padding-top:50px;
color:#FF4500;
 font-family: myFirstFont3;
 font-size: 150%;
} 
#copyright{
color:#A9A9A9;
font-weight:lighter;	
}
#body{
padding-top:70px;
}
#font2 {
font-family: myFirstFont2;
font-size: 250%;
}
ul li a{
color:white;
}
a:link,a:hover {text-decoration: none;}
div h1 span,div #paragraph1 span,div p span {display:block;}
img {max-width: 100%;height: auto;}