/* Smartphones (portrait) -----------viewport size <= 320px ----------- */
@media only screen and  (max-device-width: 320px) {
	#homeHeader {
		width: 100%;
		height: 25em;
		padding: 0;
	}
	#homeheading {
		width: 100%;
		height: 100%;
		padding-top: 5px;
	}
	#heading1 {
		font-size: 3.5em;
	}
	#heading2 {
		font-size: 2em;
	}
	#heading06 h1 {
		font-size: 150%;
	}
	#heading06 h4 {
		font-size: 100%;
	}
	#heading06 {
		padding-top: 5%;
	}
	#chain {
		padding-top: 2%;
	}
	#body {
		padding: 0;
	}
	#logo-image {
		width: 6%;
		height: auto;
		padding-left: 2%;
	}
	#body {
		padding-top: 2%;
	}
	#paragraph1 {
		font-size: 0.8em;
		padding-left: 2%
	}
	#paragraph2 {
		font-size: 0.8em;
		margin: 0;
		padding: 2%
	}
	#paragraph3 {
		font-size: 0.8em;
		padding-left: 2%
	}
	#unemploymentBubbles h1 {
		font-family: myFirstFont2;
		font-size: 100%;
	}
	#cross-subsidisation-image {
		padding-top: 8%;
	}
	#cross-subsidisation-heading {
		margin-left: 0;
		padding-top: 2%;
	}
	#cross-subsidisation-heading h1 {
		font-family: myFirstFont2;
		font-size: 100%;
	}
	#developer-salaries {
		margin-left: 0;
		padding-top: 2%;
	}
	#developer-salaries h1 {
		font-family: myFirstFont2;
		font-size: 100%;
	}
	#freeEducationFB {
		padding: 0;
		max-width: 50%;
		height: auto;
	}
	#purple {
		height: 7em;
		width: 100%
	}
	#peach {
		background-size: 100%;
		height: auto;
	}
	#footer {
		background-size: 100%;
		height: auto;
	}
	#column1 {
		float: left
	}
	#column2 {
		float: left
	}
	#column3 {
		float: left
	}
	#column4 {
		float: left
	}
	#contact-images div a img {
		float: left
	}
	#myNavbar {
		font-size: 90%;
	}
	#footer {
		font-size: 0.6em;
	}
	.logoTitle {
		font-size: 90%;
	}
	.bodyfont2 h1 {
		font-size: 70%;
	}
	.font2 h1 {
		font-size: 50%;
	}
	.footerrow2 a img {
		float: left;
		padding-right: 12%;
	}
	.copyrightAndTerms {
		padding-top: 1em;
	}
	.footerrow2 {
		padding-top: 0.1em
	}
 .dropdown-menu li a{
  font-weight:5em;
  font-size:1.1em;
 }
	li a {
		font-size: 1.1em;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	div h1 span, div #paragraph1 span, div p span {
		display: inline
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and  (min-device-width: 320px) and  (max-device-width: 480px) {
	#homeHeader {
		width: 100%;
		height: 30em;
	}
	#homeheading {
		width: 100%;
		height: auto;
		padding-top: 5em;
	}
	#heading1 {
		font-size: 3em;
	}
	#heading2 {
		font-size: 2em;
	}
	#logo-image {
		width: 2em;
		height: auto;
	}
	#body {
		padding-top: 2%;
	}
	#freeEducationFB {
		padding: 0;
	}
	#column1 {
		float: left
	}
	#column2 {
		float: left
	}
	#column3 {
		float: left
	}
	#column4 {
		float: left
	}
	#cross-subsidisation-heading {
		margin-left: 0;
		padding-top: 2%;
	}
	#cross-subsidisation-heading h1 {
		font-family: myFirstFont2;
		font-size: 150%;
	}
	#developer-salaries {
		margin-left: 0;
		padding-top: 2%;
	}
	#developer-salaries h1 {
		font-family: myFirstFont2;
		font-size: 150%;
	}
	#unemploymentBubbles h1 {
		font-family: myFirstFont2;
		font-size: 150%;
	}
	#cross-subsidisation-image {
		padding-top: 100px;
	}
	#purple {
		height: 300%;
		width: 100%
	}
	#peach {
		background-size: 100%;
		height: auto;
	}
	#footer {
		background-size: 100%;
		height: auto;
	}
	#paragraph1 {
		font-size: 0.9em;
		padding-left: 2%
	}
	#paragraph2 {
		font-size: 0.9em;
		margin: 0;
		padding: 2%
	}
	#paragraph3 {
		font-size: 0.9em;
		padding-left: 2%
	}
	#cross-subsidisation-image {
		padding-top: 8%;
	}
	#footer {
		font-size: 0.7em;
	}
	.dropdown-menu li a{
  font-weight:5em;
  font-size:1.1em;
 }
	
	.font2 h1 {
		font-size: 50%;
	}
	.footerrow2 a img {
		float: left;
		padding-right: 12%;
	}
	.logoTitle {
		font-size: 1.2em;
	}
	.bodyfont2 h1 {
		font-size: 100%;
	}
    img {
		max-width: 100%;
		height: auto;
	}
	li a {
		font-size: 1.2em;
	}
	div h1 span, div #paragraph1 span, div p span {
		display: inline
	}	
}


/* Smartphones (landscape) ----------- */
@media screen and (min-device-width:481px) and (max-device-width:637px) {
	#homeHeader {
		width: 100%;
		height: 700%;
	}
	#homeheading {
		width: 100%;
		height: auto;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	#heading1 {
		font-size: 210%;
	}
	#heading2 {
		font-size: 150%
	}
	#heading06 {
		padding-top: 5%;
	}
	#freeEducationFB {
		padding-top: 0.1%;
	}
	#logo-image {
		width: 6%;
		height: auto;
	}
	#body {
		padding-top: 2%;
	}
	#paragraph1 {
		font-size: 100%;
	}
	#paragraph2 {
		font-size: 90%;
		margin: 0;
		padding: 0;
	}
	#paragraph3 {
		font-size: 100%;
	}
	#purple {
		background-size: 100%;
		height: auto;
	}
	#peach {
		background-size: 100%;
		height: auto;
	}
	#footer {
		background-size: 100%;
		height: auto;
	}
	#column1 {
		float: left
	}
	#column2 {
		float: left
	}
	#column3 {
		float: left
	}
	#column4 {
		float: left
	}
	.bodyfont2 h1 {
		font-size: 100%;
	}
	.footerrow2 a img {
		float: left;
		padding-right: 12%;
	}
	.font2 h1 {
		font-size: 50%;
	}
	.logoTitle {
		font-size: 90%;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	li a {
		font-size: 90%
	}
}


/* Smartphones (landscape) ----------- */
@media screen and  (min-device-width:638px) and  (max-device-width:767px) {
	#homeHeader {
		background-size:100%;
		height:10em;
	}
	#homeheading {
		width: 100%;
		height: auto;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	#heading1 {
		font-size: 210%;
	}
	#heading2 {
		font-size: 150%
	}
	#logo-image {
		width: 6%;
		height: auto;
	}
	#body {
		padding-top: 2%;
	}
	#paragraph1 {
		font-size: 100%;
	}
	#paragraph2 {
		font-size: 100%;
		margin: 0;
		padding-top: 0;
	}
	#paragraph3 {
		font-size: 100%;
	}
		#column1 {
		float: left
	}
	#column2 {
		float: left
	}
	#column3 {
		float: left
	}
	#column4 {
		float: left
	}
	#purple {
		background-size: 100%;
		height: auto;
	}
	#peach {
		background-size: 100%;
		height: auto;
	}
	#footer {
		background-size: 100%;
		height: auto;
	}
	.bodyfont2 h1 {
		font-size: 100%;
	}
	.font2 h1 {
		font-size: 50%;
	}
	.footerrow2 a img {
		float: left;
		padding-right: 12%;
	}
	.logoTitle {
		font-size: 90%;
	}
		img {
		max-width: 100%;
		height: auto;
	}
	li a {
		font-size: 90%
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and  (min-device-width: 768px) and  (max-device-width: 1024px) {
	#homeHeader {
		background-size: 100%;
		height: auto;
	}
	#homeheading {
		width: 100%;
		height: 100%;
		padding-top: 5px;
		padding-bottom: 45px;
	}
	#heading1 {
		font-size: 300%;
	}
	#heading2 {
		font-size: 200%
	}
	#unemploymentBubbles h1 {
		font-family: myFirstFont2;
		font-size: 2em;
	}
	#cross-subsidisation-image {
		padding-top: 8%;
	}
	#cross-subsidisation-heading {
		margin-left: 0;
		padding-top: 2%;
	}
	#cross-subsidisation-heading h1 {
		font-family: myFirstFont2;
		font-size: 2em;
	}
	#developer-salaries {
		margin-left: 0;
		padding-top: 2%;
	}
	#developer-salaries h1 {
		font-family: myFirstFont2;
		font-size: 2em;
	}
	#freeEducationFB {
		padding: 0;
	}
	#paragraph1 {
		font-size: 110%;
	}
	#paragraph2 {
		font-size: 110%;
		margin: 0;
		padding-bottom: 2%;
		padding-top: 1%;
	}
	#paragraph3 {
		font-size: 110%;
	}
	#logo-image {
		width: 15%;
		height: auto;
	}
	#body {
		padding-top: 2%;
	}
	#purple {
		background-size: 100%;
		height: auto;
	}
	#peach {
		background-size: 100%;
		height: auto;
	}
	#footer {
		background-size: 100%;
		height: auto;
	}
	#column1 {
		float: left
	}
	#column2 {
		float: left
	}
	#column3 {
		float: left
	}
	#column4 {
		float: left
	}
    #nav{
		margin-right:5em;
	}
	.footerrow2 a img {
		float: left;
		padding-right: 12%;
	}
	.logoTitle {
		font-size: 100%;
	}
	.bodyfont2 h1 {
		font-size: 80%;
	}
	.font2 h1 {
		font-size: 50%;
	}
	li a {
		font-size: 73%;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

/* Desktops and laptops ----------- */
@media only screen and  (min-width: 1224px) {
	#homeHeader {
		 background-size: 100%;
		height: 300px;
	}
	#homeheading {
		width: 100%;
		height: 100%;
		padding-top: 40px;
		padding-bottom: 45px;
	}
	#heading1 {
		font-size: 450%;
	}
	#heading2 {
		font-size: 250%
	}
	#logo-image {
		width: 15%;
		height: auto;
	}
	#body {
		padding-top: 2%;
	}
	#paragraph1 {
		font-size: 150%;
	}
	#paragraph2 {
		font-size: 150%;
		margin: 0;
		padding-top: 3%;
	}
	#paragraph3 {
		font-size: 150%;
	}
	#purple {
		background-size: 100%;
		height: 300px;
	}
	#peach {
		background-size: 100%;
		height: 700px;
	}
	#footer {
		background-size: 100%;
		height: auto;
	}
	#column1 {
		float: left
	}
	#column2 {
		float: left
	}
	#column3 {
		float: left
	}
	#column4 {
		float: left
	}
	.logoTitle {
		font-size: 150%;
	}
	.footerrow2 a img {
		float: left;
		padding-right: 12%;
	}
	.font2 h1 {
		font-size: 50%;
	}
	.bodyfont2 h1 {
		font-size: 80%;
	}
	li a {
		font-size: 90%;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

/* Large screens ----------- */
@media only screen and  (min-width: 1824px) {
	#homeHeader {
		background-size: 100%;
		height: 450px;
	}
	#homeheading {
		width: 100%;
		height: 100%;
		padding-top: 100px;
		padding-bottom: 0;
	}
	#heading1 {
		font-size: 600%;
	}
	#heading2 {
		font-size: 450%
	}
	li a {
		font-size: 100%;
	}
	#logo-image {
		width: 30%;
		height: auto;
	}
	.logoTitle {
		font-size: 200%;
	}
	#navbar-header{
		width:20%
	}
	#nav{
		width:50%;
		font-size:150%;
		margin-right:5vmax;
	}
	#body {
		padding-top: 2%;
	}
	.bodyfont2 h1 {
		font-size: 80%;
	}
	#unemploymentBubbles h1 {
		font-family: myFirstFont2;
		font-size: 4em;
	}
	#cross-subsidisation-image {
		padding-top: 8%;
	}
	#cross-subsidisation-heading {
		margin-left: 0;
		padding-top: 2%;
	}
	#cross-subsidisation-heading h1 {
		font-family: myFirstFont2;
		font-size: 3em;
	}
	#developer-salaries {
		margin-left: 0;
		padding-top: 2%;
	}
	#developer-salaries h1 {
		font-family: myFirstFont2;
		font-size: 3em;
	}
	#freeEducationFB {
		padding: 0;
	}
	#paragraph1 {
		font-size: 2em;
	}
	#paragraph2 {
		font-size: 2em;
		margin: 0;
		padding-bottom: 2%;
		padding-top: 1%;
	}
	#paragraph3 {
		font-size: 2em;
	}
	
	#purple {
		background-size: 100%;
		height: 300px;
	}
	#peach {
		background-size: 100%;
		height: 700px;
	}
	#footer {
		background-size: 100%;
		height: auto;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	#column1 {
		float: left
	}
	#column2 {
		float: left
	}
	#column3 {
		float: left
	}
	#column4 {
		float: left
	}
	#footer {
		font-size: 2em;
	}
	.footerrow2 a img {
		float: left;
		padding-right: 12%;
	}
	.dropdown-menu{
	 width:400px; 
	 color:black;
	 background-color:#dedcef;
	 font-size:20px;
	 margin-right:-250px;
}
	.dropdown-menu li a:hover{
	 color:green;
	 background-color:white;
	}
	.dropdown-menu li a{
	 color:#FF4500;
	}
.font2 h1 {
		font-size: 50%;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}